---
import ProductCard from "../../components/ProductCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Header from "../../components/Header.astro";

export async function getStaticPaths() {
  const data = await fetch("https://syezauaectamogglkmvc.supabase.co/rest/v1/products?order=id.asc", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5ZXphdWFlY3RhbW9nZ2xrbXZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0OTcyODUsImV4cCI6MjAwMDA3MzI4NX0.5CbbGAvqETjhd1_tbVm-oa-4F_JHliJV0Xuy_dG2rms",
    },
  }).then((response) => response.json());

  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: { myData: product },
    };
  });
}

const { myData } = Astro.props;
---

<MainLayout id="landing">
  <Header slot="header" />
  <a href="javascript:void(0)" onclick="goBack()">
    <div class="back_container">
      <span class="arrow"></span>
      <span class="streg"></span>
      <p class="back">Back</p>
    </div>
  </a>
  <div class="indhold">
    <section>
      <div class="img_container">
        <img class="product_img" src={`/img/products/${myData.img}.webp`} alt={`Can of ${myData.name}`} />
      </div>
    </section>
    <section>
      <p class="brand">{myData.brand}</p>
      <h1 id="h1_slug">{myData.name}</h1>
      <p class="price">{myData.price + ",00 DKK"}</p>
      <div class="antal">
        <div class="container">
          <span class="prev" onclick="decreaseQuantity()">-</span>
          <span id="quantity">1</span>
          <span class="next" onclick="increaseQuantity()">+</span>
        </div>
        <Button text="ADD TO CART" href="#" type="index index_desk" />
      </div>
      <p>{myData.description}</p>
      <br />
      <p class="ingredients">Ingredients</p>
      <p>{myData.ingredients}</p>
      <p>{myData.type}</p>
      <p>Netto 500ml</p>
      <p>{"Alc." + myData.volume + "% vol."}</p>
      <br />
      <p>Brewing good beer takes time - enjoy it with care and dedication. Alone, or in good company.</p>
    </section>
  </div>
  <section>
    <h3>Other customers also like</h3>
    <div id="otherBeersContainer" class="beer-container"></div>
  </section>
</MainLayout>

<style>
  .back_container {
    position: relative;
    display: flex;
  }
  .back_container .arrow {
    position: absolute;
    top: 15px;
    left: 14px;

    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    transform: translateY(-50%) rotate(315deg);
  }

  .back_container .streg {
    position: absolute;
    top: 14px;
    left: 14px;
    display: block;
    width: 24px;
    height: 12px;
    border-top: 2px solid rgb(0, 0, 0);
  }

  .back {
    position: absolute;
    left: 34px;
    top: 1px;
    font-size: 23px;
  }

  .indhold {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .brand {
    color: var(--text2);
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
  }
  .img_container {
    max-width: 151px;
    margin: auto;
  }

  #h1_slug {
    margin-top: 0px;
  }

  .price {
    color: var(--text1);
    text-align: center;
    font-size: 24px;
  }

  .antal {
    display: flex;
    padding: 14px 14px 14px 14px;
    gap: 14px;
  }
  .container {
    width: 111px;
    height: 50px;
    border-radius: 11px;
    border: 2px solid;
  }

  .container .next {
    position: relative;
    top: -8%;
    left: 75%;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 24px;
    /* border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50%) rotate(135deg); */
  }

  .container .prev {
    position: relative;
    top: 18%;
    left: 15%;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 24px;
    /* border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50%) rotate(315deg); */
  }

  #quantity {
    font-family: Montserrat;
    display: block;
    text-align: center;
    line-height: 0px;
    font-size: 30px;
    position: relative;
    top: 25%;
    /* display: none; */
  }

  #box span:nth-child(1) {
    display: initial;
  }

  .ingredients {
    font-weight: 700;
  }
  p {
    margin-left: 14px;
    margin-right: 14px;
  }

  @media (min-width: 800px) {
    .indhold {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1170px;
      margin: auto;
      padding-bottom: 100px;
    }

    .img_container {
      display: flex;
      justify-content: center;
    }
    .product_img {
      width: 272px;
    }

    .back_container {
      margin-left: 20px;
    }
    .back {
      top: -2px;
    }

    .brand {
      text-align: left;
    }

    #h1_slug {
      text-align: left;
      padding-bottom: 0px;
    }

    .price {
      text-align: left;
    }

    .container {
      width: 262px;
      height: 50px;
      border-radius: 11px;
      border: 2px solid;
    }
  }
</style>

<script type="text/javascript">
  function goBack() {
    history.back();
  }

  let quantity = 1;
  const quantityElement = document.getElementById("quantity");

  function increaseQuantity() {
    quantity++;
    updateQuantity();
  }

  function decreaseQuantity() {
    if (quantity > 1) {
      quantity--;
      updateQuantity();
    }
  }

  // Function to fetch beer data from the database
  async function fetchBeerData() {
    const response = await fetch("https://syezauaectamogglkmvc.supabase.co/rest/v1/products?order=id.asc", {
      method: "GET",
      headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5ZXphdWFlY3RhbW9nZ2xrbXZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0OTcyODUsImV4cCI6MjAwMDA3MzI4NX0.5CbbGAvqETjhd1_tbVm-oa-4F_JHliJV0Xuy_dG2rms", // Erstat med din egen API-nøgle
      },
    });

    if (response.ok) {
      const data = await response.json();
      return data;
    } else {
      throw new Error("Unable to fetch beer data");
    }
  }

  // Function to generate random beers and display them on the page
  async function generateRandomBeers() {
    const container = document.getElementById("otherBeersContainer");
    const beerList = [];

    try {
      const beerData = await fetchBeerData();

      // Add beer name and image to beerList array
      beerData.forEach((beer) => {
        beerList.push({
          name: beer.name,
          img: beer.img,
        });
      });

      for (let i = 0; i < 5; i++) {
        const randomBeer = beerList[Math.floor(Math.random() * beerList.length)];

        const beerElement = document.createElement("div");
        beerElement.innerHTML = `
          <div class="img_container">
            <img class="product_img" src="${randomBeer.img}" alt="Can of ${randomBeer.name}">
          </div>
          <p>${randomBeer.name}</p>
        `;

        container.appendChild(beerElement);
      }
    } catch (error) {
      console.error(error);
    }
  }

  generateRandomBeers();
</script>
